@model NguyenHoangNam.Models.NHAXUATBAN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form name="NhaXuatBan" action="~/Area/NhaXuatBan/Luu1" method="post">
        <h3>Thêm mới nhà xuất bản</h3>
        <table>
            <tr>
                <td>Tên Nhà Xuất Bản</td>
                <td>
                    <input type="text" name="TenNXB" />
                </td>
            </tr>
            <tr>
                <td>Địa chỉ nhà xuát bản</td>
                <td>
                    <input type="text" name="DiaChi" />
                </td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>
                    <input type="text" name="DienThoai" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Thêm mới" />
                    <input type="reset" value="Xóa thông tin" />
                </td>
            </tr>

        </table>
    </form>

</body>
</html>
