
@{
    ViewBag.Title = "DanhSach_";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <title>Danh Sách Các Thành Viên</title>
</head>
<body>

    <ul>
        <li>
            Nguyễn Hoàng Nam
        </li>
    </ul>

</body>

